.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  color: #5C4033;
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond', serif; /* Changed to Cormorant Garamond */
  font-size: 2.5em;
}

footer {
  margin-top: 30px;
  color: #8B7355;
  font-size: 0.9em;
}