.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .theme-toggle-button img {
    width: 64x;
    height: 64px;
  }
  